.book {
    background-color: #F6F7FC;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;    
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 15px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right {
        padding-top: 25px;
        padding-left: 25px;

        h1 {
            font-size: 3rem;
        }

        p {
            margin-top: 25px;
            color: #3C3D37;
            border-top: 1px solid gray;
            padding-top: 15px;
        }

        .cate {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px 20px;
            font-size: 0.9rem;

            .type {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}

.table_of_content {
    cursor: pointer;
    width: 100%;
    min-height: 500px;
    margin-top: 25px;
    background-color: #F5F5F7;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(auto-fill, 75px);
    flex-wrap: wrap;
    padding: 25px 20px 25px 0px;
    border-radius: 10px;

    a {
        padding: 10px;
        display: flex;
        gap: 20px;

        border-bottom: 1px solid #F5F5F7;

        div:nth-of-type(2) {
            display: block;
            border: none;

            P {
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis; 
            }
        }

        div:nth-of-type(1) {
            display: block;
            border: none;
        }

        &:hover {
            div:nth-of-type(2) {
                p:nth-of-type(1) {
                    text-decoration: underline;
                }
            }
        }

        &:nth-child(4n+3),
        &:nth-child(4n+4) {
            background-color: #FBFBFB; 
        }
    }
}