.reader_nav {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 20px;
    top: 15px;
    z-index: 9999;

    .back {
        cursor: pointer;
        transition: all 1s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.chapterMenu {
    &:hover {
        background-color: #F8FAFC !important;
    }
}