.content_box {
    background-color: #FAFAFA;
    border-radius: 7px;
    margin-top: 20px;
    padding: 25px 50px;
    display: flex;
    gap: 5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;    
    min-height: 600px;
    text-align: center;

    .content {
        overflow: hidden;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: auto;
        width: 120px;

        h2 {
            margin-top: 5px;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: 0.8rem;
                color: #B7B7B7;
            }

            .view {
                margin-right: 4px;
                display: flex;
                align-items: center;
                gap: 5px;

                span {
                    margin-top: 2px;
                }
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            h2 {
                text-shadow: 0px 0.5px 2px gray;
            }
        }
    }
}