header {
    border-bottom: #B7B7B7 solid;
    display: flex;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #FAFAFA;
    height: 100%;
    z-index: 999;
    justify-content: space-between;

    @media (max-width: 868px) {
        span {
            display: none;
        }

        h1 {
            display: none;
        }
    }

    nav {
        display: flex;
        gap: 35px;
        height: 100%;
        align-items: center;

        div {
            height: 50px;
            gap: 5px;
            display: flex;
            align-items: center;
            color: #4A4947;
            font-weight: bold;
            font-size: 1.2rem;
            padding: 2px 2px;

            img {
                filter: 'invert(36%) sepia(61%) saturate(2617%) hue-rotate(161deg)',
            }

            cursor: pointer;

            &:hover {
                filter: invert(0.5);
            }
        }
    }
}